@model IEnumerable<EliteRecruit.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>School</th>
                    <th>GPA</th>
                    <th>Major</th>
                    <th>School Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.School)</td>
                        <td>@Html.DisplayFor(modelItem => item.GPA)</td>
                        <td>@Html.DisplayFor(modelItem => item.Major)</td>
                        <td>
                            @{
                                string schoolYearText = "";
                                if (int.TryParse(item.SchoolYear, out int year))
                                {
                                    switch (year)
                                    {
                                        case 1:
                                            schoolYearText = "Freshman";
                                            break;
                                        case 2:
                                            schoolYearText = "Sophomore";
                                            break;
                                        case 3:
                                            schoolYearText = "Junior";
                                            break;
                                        case 4:
                                            schoolYearText = "Senior";
                                            break;
                                        default:
                                            schoolYearText = "Unknown";
                                            break;
                                    }
                                }
                                else
                                {
                                    schoolYearText = "Unknown";
                                }
                            }
                            @schoolYearText
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
